---
type Props = {
  compact?: boolean;
};
---

<form class:list={['search-panel', { compact: Astro.props.compact }]} action="/search/" method="get">
  <label for="site-search">搜索资源、文章、标签</label>
  <div class="search-row">
    <svg aria-hidden="true" viewBox="0 0 24 24">
      <path d="m21 21-4.35-4.35M10.5 18a7.5 7.5 0 1 1 0-15 7.5 7.5 0 0 1 0 15Z" />
    </svg>
    <input id="site-search" name="q" type="search" placeholder="搜索资源、文章、标签…" />
    <button type="submit">搜索</button>
  </div>
</form>
